body {
  font-family: Plus Jakarta Sans;
  padding: 0px 65px;
  overflow-x: hidden;
}
:root {
  --grid_container: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  --grid-item1_background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --skilled_header: #13183f;
  --header_background: #13183f;
  --getstarted_grid-color: #f74780;
  --text-color: #fff;
  --foot_getstarted-backcolor: linear-gradient(
    180deg,
    #4851ff -54.32%,
    #f02aa6 100%
  );
}
.rectangle_header .skilled {
  color: var(--skilled_header);
  font-size: 36px;
  font-weight: 800;
  line-height: 0px;
  text-align: left;
  padding: 0px 0px 0px 50px;
}
.hero-desktop {
  position: relative;
}
.hero-desktop img {
  width: 450px;
  position: absolute;
  clip: rect(0px, 320px, 600px, 0px);
  top: -100px;
  left: 800px;
}
.main-container {
  display: grid;
  background-color: var(--text-color);
  padding: 0px 0px 0px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  top: 50px;
  padding: 0px 80px 100px 50px;
  position: relative;
  background: var(--grid_container);
}
.modern-courses {
  position: relative;
  left: 10px;
  right: 0%;
  width: 300px;
  top: -50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #83869a;
}
.max-skill {
  padding: 0px 0px 40px 50px;
}
.check {
  padding: 50px;
  text-align: left;
}
.paragraph {
  position: absolute;
  top: 60px;
  left: 20px;
  font-weight: 800;
}
.grid-item1 {
  display: grid;
  background: var(--grid-item1_background);
  border-radius: 15px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
}
.grid-item2 {
  display: grid;
  position: relative;
  height: 322px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
  /*padding: 0px 0px 50px 20px;*/
}
#getstarted_header {
  position: absolute;
  width: 90px;
  height: 20px;
  left: 1010px;
  top: 40px;
  padding: 10px 10px 10px 10px;
  background: var(--header_background);
  border: 1px solid;
  border-radius: 50px;
  text-align: center;
  color: var(--text-color);
}
.article {
  position: relative;
  padding: 20px 0px 20px 20px;
}
.footer {
  position: relative;
  height: 60px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #13183f;
}
.footer-skilled {
  position: absolute;
  color: var(--text-color);
  left: 50px;
}
#footer-getstarted {
  position: absolute;
  width: 85px;
  height: 20px;
  left: 925px;
  top: 10px;
  bottom: 0px;
  padding: 10px 10px 10px 15px;
  background: var(--foot_getstarted-backcolor);
  color: var(--text-color);
  border-radius: 50px;
  font-style: normal;
}
#title_max-skill {
  position: relative;
  top: calc(50% - 143px / 2 - 108px);
  height: 143px;
  width: 457px;
  font-size: 56px;
  font-weight: 800;
  line-height: 71px;
  text-align: left;
  color: #13183f;
}
#getstarted1 {
  position: absolute;
  height: 28px;
  width: 100px;
  left: 0px;
  top: 150px;
  font-style: normal;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  background: var(--grid-item1_background);
}
#getstarted_grid {
  position: absolute;
  height: 28px;
  left: 0%;
  right: 0px;
  top: calc(50% - 28px / 2 + 95px);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--getstarted_grid-color);
  padding: 0px 0px 0px 20px;
}

/* mobile */
@media only screen and (min-width:320px) and (max-width:480px) {
.main-container{
  padding: 0px 0px 20px 20px;
  display: grid;
}
.grid-container{
  position: relative;
  width: 800px;
  padding: 0px -0px 20px 20px;
}
.hero-desktop {
  position: relative;
}
.hero-desktop img {
  width: 450px;
  position: absolute;
  clip: rect(0px, 320px, 600px, 0px);
  top: -100px;
  left: 450px;
}
#footer-getstarted {
  position: absolute;
  width: 85px;
  height: 20px;
  left: 700px;
  top: 10px;
  bottom: 0px;
  padding: 10px 10px 10px 15px;
  background: var(--foot_getstarted-backcolor);
  color: var(--text-color);
  border-radius: 50px;
  font-style: normal;
}
#getstarted_header {
  position: absolute;
  width: 90px;
  height: 20px;
  left: 700px;
  top: 40px;
  padding: 10px 10px 10px 10px;
  background: var(--header_background);
  border: 1px solid;
  border-radius: 50px;
  text-align: center;
  color: var(--text-color);
}

}

/*tablet*/
@media only screen and (min-width:481px) and (max-width:768) {

.main-container{
  display: grid;
}
.grid-container{
  position: absolute;
}

  
}
